@use "index";

@use "base/reset";
@use "base/common";

@use "components/card";
@use "components/button";

@use "layout/header";
@use "layout/grid";
@use "layout/responsive" as *;

:root {
  --card-bg-img: url("/image/section04-todays-pick/section04-todays-pick-01.jpeg");
}

main {
  padding-top: 80px;
}

/* section01 - main-slider ------------------------------------------- */
.main-slider {
  background-color: index.$background;

  .main-slider-inner {
    .main-slider-container {
      padding: 32px 0;

      .slide-list {
        position: relative;

        .slide-item {
          position: relative;
          display: inline-block;

          .content-wrap {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 20;
            transform: translateY(-50%);
            // width: 470px;
            width: 40%;
            padding: 16px;
            background-color: index.$white;
            box-shadow: index.$shadow;

            .content-border {
              border: 2px solid index.$yellow;
              padding: 32px;

              .category {
                display: inline-block;
                font-size: index.$font-size-14;
                color: index.$green;
                margin-bottom: 8px;
              }

              .title {
                font-family: index.$font-title;
                font-size: 30px;
                font-weight: 400;
                line-height: index.$line-height-120;
                margin-bottom: 16px;
              }

              .desc {
                font-size: index.$font-size-14;
                margin-bottom: 16px;
              }
            }
          }
          .image {
            position: absolute;
            right: 0;
            z-index: 10;
            width: 63%;

            img {
              width: 100%;
              height: inherit;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  @include responsive(lg) {
    margin-bottom: index.$lg-margin-bottom;

    .main-slider-inner {
      .main-slider-container {
        padding: 0;
        margin-left: -10px;
        margin-right: -10px;

        .slide-list {
          .slide-item {
            margin-right: 0;

            .content-wrap {
              width: 95%;
              top: 370px;
              left: 50%;
              transform: translate(-50%, 0);
            }

            .image {
              width: 100%;
              height: 400px;

              img {
              }
            }
          }
        }
      }
    }
  }

  @include responsive(md) {
    margin-bottom: index.$md-margin-bottom;

    .main-slider-inner {
      .main-slider-container {
        padding: 0;
        margin-left: -10px;
        margin-right: -10px;

        .slide-list {
          .slide-item {
            margin-right: 0;

            .content-wrap {
              width: 95%;
              // top: auto;
              // bottom: 3%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, 0);
            }

            .image {
              width: 100%;
              height: 350px;
            }
          }
        }
      }
    }
  }

  @include responsive(sm) {
    margin-bottom: index.$sm-margin-bottom;

    .main-slider-inner {
      .main-slider-container {
        padding: 0;
        margin-left: -10px;
        margin-right: -10px;

        .slide-list {
          .slide-item {
            margin-right: 0;

            .content-wrap {
              width: 95%;
              // top: auto;
              // bottom: 2%;
              top: 230px;
              left: 50%;
              transform: translate(-50%, 0);

              .content-border {
                padding: 16px;

                .title {
                  font-size: 24px;
                }
              }
            }

            .image {
              width: 100%;
              height: 250px;
            }
          }
        }
      }
    }
  }
}

/* section02 - search ------------------------------------------------ */
section.search {
  padding: 72px 0;

  .search-inner {
    .container {
      .center {
        display: flex;
        justify-content: center;

        .content-wrap {
          display: inline-block;

          .slogan {
            font-size: index.$font-size-24;
            font-weight: 400;
            line-height: index.$line-height-120;
            margin-bottom: 24px;
          }

          .search-bar {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 10px;

            input {
              width: 523px;
              height: 40px;
              border-radius: 8px;
              border: 1px solid index.$border;
              padding-left: 16px;
            }

            .btn-search {
              width: 40px;
              height: 40px;
              background-color: index.$green;
              border-radius: 8px;

              i {
                font-size: 20px;
                color: index.$white;
              }
            }
          }

          .popular-searches {
            display: flex;

            .title {
              font-weight: 500;
              margin-right: 32px;
            }

            .search-word-list {
              .search-word-item {
                margin-right: 16px;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

/* section03 - ingredient ---------------------------------------------*/
.ingredient {
  margin-bottom: index.$xl-margin-bottom;

  .ingredient-inner {
    .container {
      .ingredient-item {
        display: block;
        text-align: center;

        &:hover {
          .image {
            box-shadow: index.$card-shadow;
            transform: translateY(-5px);
          }
        }

        .image {
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;
          transition: all 150ms;

          img {
            display: block;
            // width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title {
          font-size: index.$font-size-16;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .ingredient-inner {
      .container {
        .ingredient-item {
          &:first-child,
          &:nth-child(3),
          &:nth-child(5) {
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  @include responsive(lg) {
    margin-bottom: index.$lg-margin-bottom;
  }

  @include responsive(md) {
    margin-bottom: index.$md-margin-bottom;
  }

  @include responsive(sm) {
    margin-bottom: index.$sm-margin-bottom;
  }
}

/* section04 - today's pick ------------------------------------------ */
.todays-pick {
  background-color: index.$background;
  padding: 72px 0;

  .todays-pick-inner {
    .todays-pick-container {
      .slide-list {
        .slide-item {
          width: 280px;
          height: 355px;

          .todays-pick-card {
            width: inherit;
            height: inherit;

            &:hover .todays-pick-card-wrap {
              transform: rotateY(180deg);
            }

            .todays-pick-card-wrap {
              position: relative;
              transition: transform 0.8s;
              /* trasform이 3d 모양으로 되도록 설정 */
              transform-style: preserve-3d;
              width: inherit;
              height: inherit;

              .card-front,
              .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                /* 플립된 카드의 뒷면이 안보이도록 설정 */
                backface-visibility: hidden;
                top: 0;
                left: 0;
              }

              .card-front {
                width: 100%;
                height: 100%;

                &::before {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  background: linear-gradient(
                    0deg,
                    rgba(17, 17, 17, 0.8) 0%,
                    rgba(transparent, 0) 40%
                  );
                  width: 100%;
                  height: 100%;
                }

                .image {
                  width: inherit;
                  height: inherit;

                  img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                  }
                }

                .title {
                  @include index.card-title();
                  position: absolute;
                  bottom: 16px;
                  left: 16px;
                  width: 90%;
                  display: block;
                  color: index.$white;
                  font-weight: 400;
                }
              }

              .card-back {
                transform: rotateY(180deg);
                padding: 16px;

                &::before {
                  content: "";
                  background-color: rgba(0, 0, 0, 0.7);
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: -1; /* 텍스트보다 아래에 위치 */
                }

                &::after {
                  content: "";
                  background: var(--card-bg-img) no-repeat center/cover;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  transform: scaleX(-1);
                  z-index: -2; /* ::before와 텍스트 아래에 위치 */
                }

                .card-border {
                  height: 100%;
                  color: index.$white;
                  padding: 16px;
                  border: 1px solid index.$yellow;

                  .title {
                    @include index.card-title();
                    display: block;
                    margin-bottom: 16px;
                    font-weight: 400;
                  }

                  .desc {
                    margin-bottom: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* section05 - meal-tabs ------------------------------------------ */
.meal-tabs {
  background-color: index.$background;
  padding: 72px 0;

  .meal-tabs-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      span {
        color: index.$green;
      }
    }

    .container {
      row-gap: 20px;
    }

    .tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;

      .tab {
        font-size: index.$font-size-18;
        display: inline;
        margin-right: 32px;
        cursor: pointer;

        &.active {
          color: index.$green;
          font-weight: 500;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tab-panel {
      margin-bottom: 32px;
      display: none;

      &.active {
        display: grid;
      }
    }
  }
}
