@use "../index";

.btn-primary {
  font-size: index.$font-size-18;
  line-height: index.$line-height-120;
  background-color: index.$green;
  color: index.$white;
  border-radius: 8px;
  padding: 8px 24px;
}

@media screen and (max-width: 576px) {
  .btn-primary-mobile {
    font-size: index.$font-size-16;
    line-height: index.$line-height-120;
    background-color: index.$green;
    color: index.$white;
    border-radius: 8px;
    padding: 10px 20px;
  }
}
