@use "../index";

.btn-primary {
  font-size: index.$font-size-18;
  line-height: index.$line-height-120;
  background-color: index.$green;
  color: index.$white;
  border-radius: 8px;
  padding: 8px 24px;
  border: 2px solid transparent;
  transition: all 200ms;

  &:hover {
    background-color: transparent;
    border: 2px solid index.$green;
    color: index.$green;
  }
}

@media screen and (max-width: 576px) {
  .btn-primary-mobile {
    font-size: index.$font-size-16;
    line-height: index.$line-height-120;
    background-color: index.$green;
    color: index.$white;
    border-radius: 8px;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: all 200ms;

    &:hover {
      background-color: transparent;
      border: 2px solid index.$green;
      color: index.$green;
    }
  }
}
